.main {
  border: none;
  background-color: #fff;
  text-align: center;
  border-radius: 1rem;
  padding: 8px;

  &:hover {
    background-color: #dedeeb;
    cursor: pointer;
  }
}

.name {
  color: #331cbf;
}
