.main {
  width: 100%;
  display: flex;
  max-height: 480px;
}

.sidebar {
  width: 240px;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fd;
  border: 1px solid #e5e5f2;
  border-radius: 4px 0 0 4px;
}

.pokemonlist {
  padding: 12px;
  width: calc(100% - 240px);
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  border: 1px solid #e5e5f2;
  border-radius: 0 4px 4px 0;
}
